.body{
    font-size: medium;
    color: black;
    background-color: gray;

}

.heading{
    text-align: center;
    font-size: xx-large;
}
.paragraph{
    text-align: justify;
    font-size: large;
}