h2{
  color: blue;
}

.title{
  color: blanchedalmond;
}

#subtitle{
  color: blueviolet;
}

h4,p{
  color: aquamarine;
}

.title6{
  font-size: 10px;
  font-weight: 100;
  color: chartreuse;
  text-align: center;

}
.title7{
  font-size: 10px;
  font-weight: bolder;
  color: chartreuse;
  text-align: center;

}

.container {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 200px;
  width: auto;
  background-color: crimson;
  padding: 30px;
  margin: 30px;
}

.subcontainer{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: solid 2px black;
  border-radius: 100px;

}

.box{
  height: 50px;
  width: 50px;
  background-color: antiquewhite;
}
